<!DOCTYPE html>

 <html class="" lang="en">


<head>
	
	<title>
	Ajay</title>


	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	
	<meta name="description" content="The portfolio of Ajay Chouhan, an Data Analyst based in New Delhi, India." />
	<meta name="keywords" content="Ajay, Chouhan, ajay chouhan, data analyst, web developer, websites, deep learning,freelance, developer" />
	<meta name="robots" content="index, follow" />
	
	
	<meta name="msapplication-TileImage" content="assets/img/ui/app/144.png">
	<meta name="msapplication-TileColor" content="#E0EBE8">
	
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/img/ui/app/144.png">
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="assets/img/ui/app/120.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/img/ui/app/72.png">
	<link rel="apple-touch-icon-precomposed" href="assets/img/ui/app/571.png">
	<link rel="icon" type="image/png" href="72.png">
	
	<link rel="stylesheet" href="assets/css/bootstrap.css" />
	
	<script type="text/javascript" src="../use.typekit.net/wdj6cpr.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	
	<script src="assets/js/respond.min.js"></script>
	<script src="assets/js/modernizr.js"></script>
	

	
	
</head>


<body class="">
  
  
  
  

<section id="top">

		<header id="home-top" class="nav-top nav-fixed nav-root">
		
			<div class="container">
			
				<div class="row">
				
					<div class="col-md-4 col-xs-4">
					
						<h1 id="header-logo" class="image-text">
						
							<a href="index.html">
								<span></span>
								<span></span>
				                 Ajay 
								
							</a>
							
						</h1>
						
					</div>
					
					<div class="col-md-8 col-xs-8">
					
						<nav id="top-nav">
						
							<ul class="nav-list transistion">
							
															<li><a href="index.html">About</a></li>
														<li><a class="active" href="work.html">Work</a></li>
														<li><a href="notes.html">Contact</a></li>
																					
							</ul>
						
						</nav>
					
					</div> <!-- 12 -->
				
				</div> <!-- / row -->
						
			</div> <!--/ container -->
		
		
		</header><div class="masthead-wrap">
		
			<div id="title" class="work-head">
			
				
			
				<div class="container">
				
					<div class="transistion cloud left-cloud-work"></div>
					<div class="transistion cloud right-cloud-work"></div>

					<div class="transistion flag flag-left"></div>
					<div class="transistion flag flag-right"></div>

					<div class="row">
					
						<div class="col-md-12">
						
						
							<div id="head-slider" class="transistion">
							
								<div class="slide-contents">
								
									<div class="slide">
									
										<h2 class="work">
										
											<figure class="">
											
												<img src="assets/img/content/home/masthead/work.svg">
											
											</figure>
										
										</h2>
										
									
									</div>
								
								
								</div>
								
								   					
							</div>
						
						
						</div> <!-- /col 24 -->
				
					</div> <!-- /row -->
				
				</div>
	
			</div>
		
		</div>
	
		
		
	</section>

<section id="hello">
	
	
		<div class="container">
		
			<div class="row">
				
				<div class="col-md-12">
	
	
					<article>
					
						<figure>
						
							<img src="assets/img/content/home/work/pencil.svg" >
						
						</figure>
					
					
						<h3>What I've been up to.</h3>
						
						<p class="info">
						Here's a selection of some recent projects and Internships. 
						</p>
					
					
					</article>
					
				</div>
				
			</div>
			
		</div>
	
	
	</section>

	
	
	<section id="table" class="work-shots">
	
		<div class="container">
		
			<div class="row">
			
				<div class="col-md-12">
				
					<div class="shot">
					
						<img  />
					
					</div>
					
					
					
					<div class="shot-info">
					
					
						
						<h2>Campus Ambassdor</h2>
						
						<h3>School Of Engineering and Technology, Ansal University</h3>
						
													
						<p>
						I handle the social media site of School Of Engineering and Technology.
                            Content and Campaign.
						</p>
						
						
						
							
					
					</div>
				
				</div>
			
			</div>
		
		</div>
	
	</section>
	
	
	
	<section id="emp" class="work-shots">
	
		<div class="container">
		
			<div class="row">
			
				<div class="col-md-12">
				
					<div class="shot">
					
						
					</div>
					
					
					
					<div class="shot-info">
					
					
						
						<h2>Ezilone</h2>
						
						<h3>Client Service Manager</h3>
						
													
						<p>
						 I have to handle the clients and do the client aquition. Apart from this I have coordinated with the team members on our both the events at The leela Place , Gurgaon(CMO) and at The Crown Plaza , Gurgaon(CFO).
                        </p>
					</div>
				
				</div>
			
			</div>
		
		</div>
	
	</section>
	
	
	
	<section id="origami" class="work-shots">
	
		<div class="container">
		
			<div class="row">
			
				<div class="col-md-12">
				
					<div class="shot">
					
						
					</div>
					
					
					
					<div class="shot-info">
					
					
						
						<h2>Vegie Cart</h2>
						
						<h3>Web Development</h3>
						
													
						<p>
				I have made a website which is in progress of backend .
                            It is about the Online Buying of whole sale food products.
						</p>
					</div>
				
				</div>
			
			</div>
		
		</div>
	
	</section>
		
	
	<section id="journey" class="work-shots">
	
		<div class="container">
		
			<div class="row">
			
				<div class="col-md-12">
				
					<div class="shot">
					
						
					</div>
					
					
					
					<div class="shot-info">
					
					
						
						<h2>IOT Project Using Sensor</h2>
						
						<h3>Programing-in-Tinkercad-to-develop-earthquake-detector-using-tilt-sensor-LCD-Buzzer-and-Arduino-Uno.</h3>
						
													
						<p>
						I have used tilt sensor, LCD, Buzzer and Arduino Uno. For code <a href="https://github.com/AjayChouhanSingh/-WAP-in-Tinkercad-to-develop-earthquake-detector-using-tilt-sensor-LCD-Buzzer-and-Arduino-Uno./blob/master/Earthquake%20Detector%20using%20arduino.docx" style="text-decoration: none;" >Git link</a>
						</p>
					</div>
				
				</div>
			
			</div>
		
		</div>
	
	</section>

	
	
	
	<section id="sherpa" class="work-shots">
	
		<div class="container">
		
			<div class="row">
			
				<div class="col-md-12">
				
					<div class="shot">
					
					</div>
					
					
					
					<div class="shot-info">
					
					
						
						<h2>Jarvis-Alike-Ok-google</h2>
						
						<h3>Python</h3>
						
													
						<p>
						I tried to create a project like ok google which is named Jarvis. It acts when we give command .
                        I need to import this much libraries(import pyttsx3
import webbrowser
import cv2,
import numpy,
import smtplib,
import random,
import speech_recognition as sr,
import wikipedia,
import datetime,
import wolframalpha,
import os,
import sys)
						</p>
					</div>
				
				</div>
			
			</div>
		
		</div>
	
	</section>
	
	
	
	<section id="realtii" class="work-shots">
	
		<div class="container">
		
			<div class="row">
			
				<div class="col-md-12">
				
					<div class="shot">
					
					
					
					</div>
					<div class="shot-info">
						<h2>Iot-Active-Motion-Sensor</h2>
						
						<h3>PIR Motion Sensor</h3>
						
													
						<p>
                            Connecting PIR sensors to a microcontroller . The PIR acts as a digital output, it can be high voltage or low voltage, so all you need to do is listen for the pin to flip high (detected) or low (not detected) by listening on a digital input on your Arduino.Its likely that you'll want reriggering, so be sure to put the jumper in the H position!  Power the PIR with 5V and connect ground to ground. Then connect the output to a digital pin. In this example we'll use pin 2.The code is very simple, and is basically just keeps track of whether the input to pin 2 is high or low. It also tracks the state of the pin, so that it prints out a message when motion has started and stopped. For Arduino Code and Circuit Diagram Word File  <a href="https://github.com/AjayChouhanSingh/Iot-Active-Motion-Sensor-" style="text-decoration: none;" >Github link</a>
						</p>
					</div>
				
				</div>
			
			</div>
		
		</div>
	
	</section>
	
	
	
	<section id="trizic" class="work-shots">
	
		<div class="container">
		
			<div class="row">
			
				<div class="col-md-12">
				
					<div class="shot">
					
						
					
					</div>
					
					<div class="shot-info">
				
						<h2>Detection-of-Numberplate-through-Image</h2>
						
						<h3>Through car's image we can detect the number of car
</h3>
						
													
						<p>
                            Car's Number plate is first stored with the location of py file . Code reads both live image and the image which is in the file .Then it detects . For more...<a href="https://github.com/AjayChouhanSingh/Detection-of-Numberplate-through-Image/blob/master/Car's%20Numberplate/python/1n.py" style="text-decoration: none;" > Git </a>
 						</p>
                    </div>
				
				</div>
			
			</div>
		
		</div>
	
	</section>
	
	
	<section id="retrolove" class="work-shots">
	
		<div class="container">
		
			<div class="row">
			
				<div class="col-md-12">
				
					<div class="shot">
					
					</div>
					
					
					
					<div class="shot-info">
					
					<h2>Online Banking</h2>
					
					<h3>On Basic Python Idle/Spyder 3.7</h3>
					
					
					<p>
					In this project Banking system is made . Options are 1.Signup 2.Login 3.Exit.
                        You can get the Code on my  <a href="https://github.com/AjayChouhanSingh/onlinebanking/blob/master/Banking%20system" style="text-decoration: none;" >Github</a>
					</p>
					</div>
				
				</div>
			
			</div>
		
		</div>
	
	</section>


	<section id="text-king" class="work-shots">
	
		<div class="container">
		
			<div class="row">
			
				<div class="col-md-12">
				
					<div class="shot">
					
					
					</div>
					
					
					
					<div class="shot-info">
					
					<h2>Face Recognition</h2>
					
					<h3>Using Haar Cascade Opencv </h3>
					
					
					<p>
					Basicall in this project I used haar cascade file(Haar cascade. Haar Cascade is a machine learning object detection algorithm used to identify objects in an image or video and based on the concept of features) to recognize faces.
					</p>
					</div>
				
				</div>
			
			</div>
		
		</div>
	
	</section>
	
	
	




<section id="i-can-help">
	
		<div class="container">
		
			<div class="row">
			
				<div class="col-md-12">
				
					<article>
					
					
						<header>

							<h2>Hire Me</h2>
									
							<h3>I'm currently available for Internships.</h3>
								
						</header>
						
						<p>If you have a project that you want to get started,then get in touch for Data Analysing and Web Developing.
                        And I have my ongoing projects on IOT + Resberipie Mentioned above . If you can help me then contact.</p>
						
						<p class="btn-hldr">
              </html>
              <h1>Register</h1>
              <form action="/register" method="POST">
                <div>
                  <label for="name">Name</label>
                  <input type="text" id="name" name="name" required />
                </div>
                <div>
                  <label for="email">Email</label>
                  <input type="email" id="email" name="email" required />
                </div>
                <div>
                  <label for="password">Password</label>
                  <input type="password" id="password" name="password" required />
                </div>
                <button type="submit">Register</button>
              </form>
              <a href="/login">Login</a>
              
							<a href="" class="">Engr.ajaysinghchouhan@gmail.com<i class="email"></i></a>
						
						</p>

					
					</article>
				
				</div>
			
			</div>
		
		</div>
	
	
	</section>



<footer>

		<div class="container">

			<div class="row">

				<div class="col-md-12">

					<ul class="footer-list">
						<li><a href="https://github.com/AjayChouhanSingh">Github</a></li>
						<li><a href="http://instagram.com/luckyrajput_1111/?hl=en">Instagram</a></li>
						<li><a href="https://twitter.com/ajaysinghchouhan">twitter</a></li>
					</ul>

				</div>

			</div>

			<div class="row">

				<div class="col-md-12">



					<p>© 2020 <a href="index.html">Ajay Chouhan</a>. All rights reserved.</p>

				</div>

			</div>

		</div>

	</footer>



	
</body>

